<header class="fixed-top navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between"
purpose="page-header">
<a style="cursor: pointer;" class="navbar-brand mr-0" href="/">
   Private School
</a>
<div class="navbar-nav flex-row">
  <!-- LOGGED-IN NAVIGATION -->

  <!-- LOGGED-OUT NAVIGATION -->
  <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="http://localhost:3000/trainers">Trainers</a>
  <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="http://localhost:3000/students">Students</a>
  <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="http://localhost:3000/courses">Courses</a>
  <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="http://localhost:3000/assignments">Assignments</a>


</div>
</header>